@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("https://d10gf95rxwihx0.cloudfront.net/city-pixel-art-8ptr08abde3xvuh4.webp");
}

@font-face {
  font-family: "Pixel NES";
  src: url("/fonts/Pixel_NES.otf") format("truetype");
  color: white;
}

.pixel-text {
  font-family: "Pixel NES", sans-serif;
}

/* .scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.placeholder-font-pixel-text::placeholder {
  font-family: "Pixel NES", sans-serif;
  font-weight: 300;
}
